<h1><%= title %> : <%= book.title %></h1>
<p>
  <strong>Author:</strong>
  <a href="<%= book.author.url %>"><%= book.author.name %></a>
</p>
<p>
  <strong>ISBN:</strong>
  <%= book.isbn %>
</p>
<% if (book_instances.length > 0) { %>
<p>
  <strong
    >Delete the following book instances before attempting to delete this
    book.</strong
  >
</p>
<div style="margin-left: 20px; margin-top: 20px">
  <h4>Copies</h4>
  <% if (book_instances.length > 0) { book_instances.forEach(val => { %>
  <hr />
  <% switch (val.status) { case 'Available': %>
  <p class="text-success"><%= val.status %></p>
  <% break; case 'Maintenance': %>
  <p class="text-danger"><%= val.status %></p>
  <% break; default: %>
  <p class="text-warning"><%= val.status %></p>
  <% break; }%>
  <p><strong>Imprint:</strong> <%= val.imprint %></p>
  <%- val.status !== 'Available' ? `
  <p><strong>Due back: ${val.due_back}</strong></p>
  ` : '' %>
  <p><strong>Id:</strong><a href="<%= val.url %>"><%= val._id %></a></p>
  <% }); } else { %>
  <p>There are no copies of this book in the library.</p>
  <% } %>
</div>
<% } else { %>
<!-- In a full implementation, the control would be made visible only to authorized users.-->
<p>Do you really want to delete this Author?</p>
<form action="" method="post">
  <div class="form-group">
    <input
      type="hidden"
      id="bookid"
      class="form-control"
      name="bookid"
      value="<%= book._id %>"
      required
    />
  </div>
  <button type="submit" class="btn btn-primary">Delete</button>
</form>
<% } %>
